
body {
    background-color: #f8fcff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0px;
}

.respons {
    background-color: white; 
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 500px; 
    max-width: 100%; 
    text-align: center; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0px;
}

p {
    display: block;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: bold;
}

a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #e6f2ff;
    color: #004080;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    word-break: break-all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}


form {
    background-color: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    text-align: center; 
}


input[type="text"] {
    width: 100%; 
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}


button {
    background-color: #004080; 
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    width: 100%; 
}


button:hover {
    background-color: #003366; 
}
